# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
env/

# Output & Temp media
output/
downloads/
temp/
*.mp3
*.mp4
*.wav
*.jpg
*.png
!assets/
!assets/*

# API credentials
kaggle.json
client_secrets.json
tokens/
*.token
 
kaggle_logs/
pulled_kernel/
pulled_meta/
temp_deploy/
